<section class="department-section">
    <header class="department-section__header">
        <div class="department-section__title-wrap">
            <span class="department-section__title">{{title}}</span>
            <span class="department-section__date">{{date}}</span>
        </div>
        <div class="department-section__header-icons">
            <fa-icon [icon]="light"></fa-icon>
            <fa-icon [icon]="expand"></fa-icon>
            <fa-icon [icon]="menu"></fa-icon>
        </div>
    </header>
    <div class="department-section__content">
        <ng-content></ng-content>
    </div>
</section>