<div class="strategy-execution department-content">
    <div class="container">
        <div class="department-content-wrap">
            <app-section title="strategic themes progress" date="5 Dec">
                <div class="d-flex">
                    <app-circle-chart text="Overall" percentage="49.8"></app-circle-chart>
                    <div class="full-date">on 11 November</div>
                    <div class="small-progress-wrap">
                        <app-small-progress 
                            title="governece"
                            color="red"
                            percentage="48">
                        </app-small-progress>
                        <app-small-progress 
                            title="digital transform"
                            color="red"
                            percentage="33">
                        </app-small-progress>
                        <app-small-progress 
                            title="operation transform"
                            color="green"
                            percentage="67">
                        </app-small-progress>
                        <app-small-progress 
                            title="service experience"
                            color="red"
                            percentage="44">
                        </app-small-progress>
                        <app-small-progress 
                            title="business delivery"
                            color="yellow"
                            percentage="51">
                        </app-small-progress>
                        <app-small-progress 
                            title="HCD"
                            color="green"
                            percentage="80">
                        </app-small-progress>
                    </div>
                </div>
            </app-section>
            <app-section title="monthly milestones tracker" date="5 Dec">
                <app-big-progress 
                title="DTC"
                growthRate="+10"
                actualPercentage="55"
                plannedPercentage="80"
                color="yellow"></app-big-progress>
        
                <app-big-progress 
                title="DEN"
                growthRate="0"
                actualPercentage="90"
                plannedPercentage="90"
                color="green"></app-big-progress>
            </app-section>              
        </div>
 
    </div>
</div>
